
@{
    ViewBag.Title = "Add Appointment";
    Layout = "~/Areas/Patients/Views/Shared/_PatientLayout.cshtml";
}

@section scripts{ 
<script type="text/javascript">
    $(document).ready(function () {


        $("#search").jqxInput({ placeHolder: "Doctor's Name", height: 28, width: 200, minLength: 1,theme:'darkblue' });
        // getting the doctors source
       

        var source =
            {
                datatype: "json",
                datafields: [
					 { name: 'Name', type: 'string' },
					 { name: 'Fees', type: 'int' },
					 { name: 'isOnline' },
					 { name: 'PracticingAddress', type: 'string' },
					 { name: 'totalPatients', type: 'int' },
                     { name: 'spec', type: 'string' }
                ],
                url: '@Url.Action("getDocInfo", "Appointment", new { Area = "Patients" })'
                
            };

        console.log(source);



       

        $('#search').on('keyup', function () {
            var value = $('#search').jqxInput('val');
            //alert(value);
            addfilter(value);
        });
       



        //hide on/off button
        $("#online").hide();
        $("#offline").hide();
        
        var dataAdapter = new $.jqx.dataAdapter(source);
        // initialize jqxGrid
        $("#docGrid").jqxGrid(
            {
                theme:'darkblue',
                width: '95%',
                source: dataAdapter,
                
                height: '100%',
                pageable: true,
                autorowheight: true,
                
               
                columns: [
                    { text: "Name", datafield: "Name" ,width:"20%"},
                    { text: "Fees (Taka)", datafield: "Fees",width:"10%"},
                    { text: "Chamber", datafield: "PracticingAddress", width: "40%" },
                    { text: "Crowd", datafield: "totalPatients",width:"8%" },
                    { text: "Specialization", datafield: "spec" }
                    
                ],
                sortable: true
            
            });


        var addfilter = function (filterval) {
            var filtergroup = new $.jqx.filter();
            var filter_or_operator = 1;
            var filtervalue = filterval;
            var filtercondition = 'contains';
            var filter = filtergroup.createfilter('stringfilter', filtervalue, filtercondition);

            filtergroup.addfilter(filter_or_operator, filter);
            // add the filters.
            //console.log(filtergroup);
            $("#docGrid").jqxGrid('addfilter','Name', filtergroup);
            // apply the filters.
            $("#docGrid").jqxGrid('applyfilters');
        };

        //All tooltips
        $('#crowd').jqxTooltip({ position: 'right', content: 'How many patients are enrolled under this doctor?',theme: 'darkblue' });
        $('#fees').jqxTooltip({ position: 'right', content: 'Consultation Fee for this doctor',theme: 'darkblue' });
        ////////////////////////////////////////////////////////////////////////////////////

        $('#docGrid').on('rowclick', function (event) {
            var args = event.args;
            
            var boundIndex = args.rowindex;
            // row's visible index.
            var data = $('#docGrid').jqxGrid('getrowdata', boundIndex);
            //alert(data.Name);
            var visibleIndex = args.visibleindex;
            // right click.
            var rightclick = args.rightclick;
            // original event.
            var ev = args.originalEvent;
            

            if ($('#docinfowindow').jqxWindow('isOpen')) {
                //$('#docinfowindow').removeClass('bounceInDown').addClass('bounceOutRight');
                $('#docinfowindow').jqxWindow('close');
                $('#docinfowindow').hide();
            }
    
            
            if (!$('#docinfowindow').jqxWindow('isOpen')) {
                //$('#docinfowindow').removeClass('bounceInDown').addClass('bounceOutRight');
                
                $('#doctorName').text(data.Name);
                $('#doctorSpec').text(data.spec);
                $('#fees').text(data.Fees);
                $('#crowd').text(data.totalPatients);
                $('#location').text(data.PracticingAddress);
                if (data.isOnline) {
                    $("#online").show();
                    $("#offline").hide();
                }
                else {
                    $("#offline").show();
                    $("#online").hide();
                }
                
                $('#docinfowindow').hide();
            }
           
            
            //$('#docinfowindow').removeClass('bounceOutRight').addClass('bounceInDown');
            $('#docinfowindow').jqxWindow('open');
        });

        $("#docinfowindow").jqxWindow({ width:400, height:600, theme: "darkblue", autoOpen: false,isModal:true,resizable:false});
    });
</script>

}

<div id="docinfowindow" class="window animated bounceInDown">
   <div><span class="glyphicon glyphicon-user"></span> Doctor's Information </div>
    <div >
        <h2 class="text-center"><span id="doctorName"></span></h2><br />
        <h3 class="text-center">
            <span class="glyphicon glyphicon-plus"></span>
            <span id="doctorSpec"></span>
        </h3>
        <br />
        <div class="center-block well">
            <span class="pull-left">
                <img src="~/Content/img/tk.png" height="20" width="20" style="margin-bottom:5px;" />
                <span id="fees" style="font-size:18px;"></span>

            </span>
            <span class="pull-right">
                <img src="~/Content/img/Audience.png" height="20" width="20" style="margin-bottom:5px;" />
                <span id="crowd" style="font-size:18px;"></span>

            </span>
            
            <div class="row" style="margin-top:30px;margin-left:6px;">
                <span class="text-center">

                    <span class="glyphicon glyphicon-road"></span> <span id="location" style="font-size:18px;"></span>


                </span>
                <img id="online" src="~/Content/img/green-circle-md.png"  height="20" width="20"/>

                <img id="offline" src="~/Content/img/red-circle-md.png"  height="20" width="20" />
            </div>
        </div>
</div>
</div>
<div class="row">
    <div class="row col-lg-4 col-md-4 col-sm-12">

        <div id ="bannerCarousel" class="col carousel slide" data-ride="carousel" style="margin-left:10%;margin-right:10%;width:80%;" >
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">

                    <img src="~/Content/img/steth.jpg" style="width:100%;height:350px;"/>
                    <div class="text-center">
                        <h2>Find the suitable Doctor</h2>
                        <p>Find the best doctor of area from the list</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/img/medicine.jpg"  style="width:100%;height:350px;"/>
                    <div class="text-center">
                        <h2>Get Diagnosed</h2>
                        <p>Get consulted and get a proper diagnosis</p>
                    </div>
                </div>

                <div class="item">
                    
                    <img src="~/Content/img/banimg1.jpg"  style="width:100%;height:350px;"/>
                    <div class="text-center">
                        <h2>Check Up</h2>
                        <p>Get follow up consultation regular basis</p>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#bannerCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#bannerCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
            <!-- Indicators -->
            <ol class="carousel-indicators" style="left:95%;">
                <li data-target="#bannerCarousel" data-slide-to="0" class="active" ></li>
                <li data-target="#bannerCarousel" data-slide-to="1"></li>
                <li data-target="#bannerCarousel" data-slide-to="2"></li>
            </ol>
        </div>
        @* Carousel ends here *@
        <div style="margin-left:65px;margin-top:10px;margin-bottom:10px;">
            We ensure better health care service by maintaining a proper
            communication <br /> flow between health service provider and 
            patients.

        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12" >
        <div class="searchBar well"  id="searchBar">
            <b style="margin-right:8px;">Name</b> <input id="search" type="text"/>
            <input type="button" style="margin: 10px;" id="searchbtn" value="Search" />
            
        </div>

        <div id="docGrid"></div>

    </div>
</div>

