@model BOLayerMedCom.ViewModels.PatientVM


<div class="well hiddenForm" id="hiddenForm"  style="background: #eaf8fb;width:20%; margin:4% auto;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="position:absolute; font-size: 15px; text-decoration: none;"><span class="glyphicon glyphicon-chevron-right"></span></a>
    @if (ViewBag.dataSaved == true)
    {
        <h4 class="addNotif text-center animated bounceIn"> Patient Added Successfully</h4>
        
    }


    @using (Ajax.BeginForm("AddPatient", "PatientView",new AjaxOptions { HttpMethod="POST", InsertionMode=InsertionMode.Replace,UpdateTargetId="hiddenFormDiv",OnSuccess="openNav()" }))
    {

         <fieldset style="margin-top:10%;" >
            <legend><span class="number">1</span>Name</legend>
             @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            <input type="text" id="FirstName" name="FirstName" value="" placeholder="First Name *">
             @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            <input type="text" id="LastName" name="LastName" value="" placeholder="Last Name *">
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span> Contact</legend>
            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
            <input type="text" id="Contact" name="ContactNo" value="" placeholder="Contact *">
           @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            <input type="text" id="Email" name="Email" value="" placeholder="E-mail *">
            <input type="reset" class="btn btn-info" value="Reset">
        </fieldset>
        <input type="submit" value="Add" />
    }
    @*</form>*@
</div>
<script>
    function openNav() {

            document.getElementById("hiddenForm").style.left = "80%";

    }
    function closeNav() {
        document.getElementById("hiddenForm").style.left = "100%";
    }




    

</script>
