<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet'>

    <link href="~/Content/style.css" rel="stylesheet" />

    <link href="~/Content/MenuAnim/style7.css" rel="stylesheet" />

    <link href="~/Content/MenuAnim/common.css" rel="stylesheet" />

    <link href="~/Content/MenuAnim/normalize.css" rel="stylesheet" />

    <link href="~/Content/MenuAnim/demo.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <script src="~/Scripts/jquery.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/modernizr.custom.79639.js"></script>

    <link href="~/Content/MenuAnim/hover.css" rel="stylesheet" />


</head>
<body>
    <div class="site-container">
        <div class="site-pusher">
            <header class="header">

                <a href="#" class="header__icon" id="header__icon"></a>
                <a href="#" class="header__logo" style="margin-left:17%;text-decoration:none"><h1><b>MEDIYARD</b></h1></a>
                <nav class="menu navbar navbar-right" style="margin-right:18%">
                    <span style="color:#2098D1;"><b>@User.Identity.Name</b></span>
                    <span class="glyphicon glyphicon-tasks"></span>
                    @Html.ActionLink("Log Out", "SignOut", "Doctor", new { area = "Doctors" }, new { @class = "btn btn-danger" })
                </nav>


            </header>

            <div class="site-content">
                <div style="height:100%; width:100%; z-index:2; overflow:hidden;">
                    <div class="sidebar-nav" style="height: 100%;">
                        <div class="sideNavBG">
                            <ul class="nav normalNav text-left" style="padding-top:55%;padding-left:25%; padding-bottom:40%;">
                                <span class="glyphicon glyphicon-envelope btn-lg"></span>
                                <a href="#" class="hvr-float-shadow" style="font-size:25px;"><b>Messages</b></a>
                                <br />
                                <br />
                                <span class="glyphicon glyphicon-user btn-lg"></span>
                                <a href="#" class="hvr-float-shadow" style="font-size:25px;"><b>Profile</b></a>
                                <br />
                                <br />
                                <span class="glyphicon glyphicon-cog btn-lg"></span>
                                <a href="#" class="hvr-float-shadow" style="font-size:25px;"><b>Settings</b></a>
                                <br />
                                <br />
                                <span class="glyphicon glyphicon-comment btn-lg"></span>
                                <a href="#" class="hvr-float-shadow" style="font-size:25px;"><b>Doctors' Blog</b></a>
                                <br />
                                <br />

                            </ul>
                            <ul class="nav navIcon text-center">
                                <img src="~/Content/img/logoMed.png" style="height:50%; width:50%; padding-bottom:30%;" />
                                <br />
                                <a href="#" class="hvr-glow"><span class="glyphicon glyphicon-envelope btn-sm" style="font-size:25px;" data-toggle="tooltip" title="Message" data-placement="right"></span></a>
                                <br>
                                <br>
                                <a href="#" class="hvr-glow"><span class="glyphicon glyphicon-user btn-sm " style="font-size:25px;" data-toggle="tooltip" title="Profile" data-placement="right"></span></a>
                                <br>
                                <br>
                                <a href="#" class="hvr-glow"><span class="glyphicon glyphicon-cog btn-sm" style="font-size:25px;" data-toggle="tooltip" title="Settings" data-placement="right"></span></a>
                                <br>
                                <br>
                                <a href="#" class="hvr-glow"><span class="glyphicon glyphicon-comment btn-sm" style="font-size:25px;" data-toggle="tooltip" title="Blog" data-placement="right"></span></a>
                                <br>
                                <br>
                            </ul>
                        </div>
                    </div>




                    @RenderBody()
                </div>
            </div>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {

                    (function ($) {


                        $('#header__icon').click(function (e) {
                            e.preventDefault();
                            $('body').toggleClass('with--sidebar');
                        });

                        $('#site-cache').click(function (e) {
                            $('body').removeClass('with--sidebar');
                        });

                    })(jQuery);

                });
            </script>
            <script>
                $(document).ready(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });
            </script>
</body>

</html>


</html>
