
@{
    ViewBag.Title = "Add Appointment";
    Layout = "~/Areas/Patients/Views/Shared/_PatientLayout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12" >
    <div class="col-lg-2 col-md-3 col-sm-12" style="background-color:aliceblue;">
        <h1>Appointment Placement Process</h1>
        <p class="col-sm-12">Search a doctor by your criteria of specialization.
        <ul class="col-sm-12">
            <li>
                Select a doctor as your requirement
            </li>
            <li>
                See his/her details and consultation fee
            </li>
            <li>
                Set an Appointment
            </li>
            <li>
                Wait for the doctor to confirm
            </li>
        </ul>
        
        </p>
    </div>


    
</div>

