
@{
    ViewBag.Title = "ProfileView";
    Layout = "~/Areas/Doctors/Views/Shared/DoctorsLayout.cshtml";
}
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        //initiazlizing profile tab
        $('#profileTabs').jqxTabs({ width: "85%", height:500,theme:"darkblue" });

    });
</script>
}

<div class="col-lg-9" style="margin-top:10px;">
    <h1 style="margin-left:10px;">@ViewBag.profile.Name</h1>
    <div class="col-lg-12">
        <div id='profileTabs'>
            <ul style='margin-left: 20px;'>
                <li><span class="glyphicon glyphicon-user"></span> Generel Information</li>
                <li><span class="glyphicon glyphicon-calendar"></span>Appointments</li>
                <li><span class="glyphicon glyphicon-signal"></span> Patient Stats</li>
                <li><span class="glyphicon glyphicon-tasks"></span> Ratings</li>
                <li><span class="glyphicon glyphicon-dashboard"></span> Mediyard Score</li>
            </ul>
            <div>
                @Html.Partial("~/Areas/Doctors/Views/Partials/GenInfoProfile.cshtml")
            </div>
            <div>
                Content 2
            </div>
            <div>
                Content 3
            </div>
            <div>
                Content 4
            </div>
            <div>
                Content 5
            </div>
        </div>

    </div>

</div>

