<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet'>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <link href="~/Content/AnimateCSS/animate.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="~/Scripts/lumino.glyphs.js"></script>
    <link href="~/Content/HoverCSS/Hover.min.css" rel="stylesheet" />

    
    <link rel="stylesheet" type="text/css" href="~/Content/jqx.base.css" />
    <link href="~/Content/jqx.darkblue.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jqx-all.js"></script>
    @RenderSection("scripts")
    <title>@ViewBag.Title</title>

</head>

<body>
    <div class="page-header" >
        <h1 class="headertextnew">MEDIYARD Patient Panel</h1>
    </div>

    @RenderBody()
            
    
</body>



</html>
