@{ 
    Layout = "~/Areas/Doctors/Views/Shared/_DashLayout.cshtml";
    ViewBag.Title = "Doctor Dashboard";
}


            <div class="site-content">
        
                <section id="content" style="padding-top:0px; background-color:aqua;">
                    <div class="container">
                        <div class="section" >
                            <div class="doctor-viewport" style="overflow: hidden; position: relative;">
                                <ul class="ch-grid">
                                    <li>
                                        <div class="ch-item">
                                            <div class="ch-info">
                                                <div class="ch-info-front ch-img-1">
                                                    
                                                </div>
                                                <div class="ch-info-back"  style="background-color:#2098D1">
                                                    <a href="@Url.Action("ViewPatients", "Doctor",new { area = "Doctors" })" style="text-decoration:none;"><h3 style="color:#f0f0f0">Browse Patients</h3></a>
                                                    @*<h3 style="color:#f0f0f0">
                                                    @Html.ActionLink("Browse Patients", "ViewPatients", "Doctor",new {area="Doctors"})
                                                   </h3>*@
                                                    <p>Browse your present patient list and do desired operations.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ch-item">
                                            <div class="ch-info">
                                                <div class="ch-info-front ch-img-2"></div>
                                                <div class="ch-info-back" style="background-color:#2098D1">
                                                    <a href="http://www.google.com" target="_blank" style="text-decoration:none;"><h3 style="color:#f0f0f0">Messages</h3></a>
                                                    <p>Check messages from your contact and patients.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ch-item">
                                            <div class="ch-info">
                                                <div class="ch-info-front ch-img-3"></div>
                                                <div class="ch-info-back" style="background-color:#2098D1">
                                                    <a h<a href="@Url.Action("Index","Profile",new { area="Doctors"})"  style="text-decoration:none;"><h3 style="color:#f0f0f0">Profile</h3></a>
                                                    <p>Browse and edit your profile.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section >
                    
                    <div class="container">
                     <div style="padding-top:2%" class="doctorsLoginInfo">
                        <h2>Discover your services</h2>
                         <p>Access all your services from this menu,<br />
                         you can add and remove patient's information and
                         <br /> browse all your messages. </p>
                         <br />
                         <h2>Manage your profile</h2>
                         <p>
                             View and edit your profile,<br />
                             do various profile related operations
                             
                         </p>
                     </div>
                     <div style="padding-top:3%" class="doctorsLoginBox">
                            <img src="~/Content/img/medicine-plus-data.png" />
                     </div>   
                    </div>
                </section>
            </div>
       